<div>
  <h2 id="page-heading" data-cy="VehicleDetailsHeading">
    <span jhiTranslate="policyManagementApp.vehicleDetails.home.title">Vehicle Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="policyManagementApp.vehicleDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-details"
        [routerLink]="['/vehicle-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="policyManagementApp.vehicleDetails.home.createLabel"> Create a new Vehicle Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleDetails?.length === 0">
    <span jhiTranslate="policyManagementApp.vehicleDetails.home.notFound">No vehicleDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleDetails && vehicleDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="policyManagementApp.vehicleDetails.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="invoiceValue">
            <span jhiTranslate="policyManagementApp.vehicleDetails.invoiceValue">Invoice Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="idv">
            <span jhiTranslate="policyManagementApp.vehicleDetails.idv">Idv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enginNumber">
            <span jhiTranslate="policyManagementApp.vehicleDetails.enginNumber">Engin Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="chassisNumber">
            <span jhiTranslate="policyManagementApp.vehicleDetails.chassisNumber">Chassis Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="registrationNumber">
            <span jhiTranslate="policyManagementApp.vehicleDetails.registrationNumber">Registration Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seatingCapacity">
            <span jhiTranslate="policyManagementApp.vehicleDetails.seatingCapacity">Seating Capacity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="zone">
            <span jhiTranslate="policyManagementApp.vehicleDetails.zone">Zone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="yearOfManufacturing">
            <span jhiTranslate="policyManagementApp.vehicleDetails.yearOfManufacturing">Year Of Manufacturing</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="registrationDate">
            <span jhiTranslate="policyManagementApp.vehicleDetails.registrationDate">Registration Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="policyManagementApp.vehicleDetails.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="policyManagementApp.vehicleDetails.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleDetails of vehicleDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-details', vehicleDetails.id, 'view']">{{ vehicleDetails.id }}</a>
          </td>
          <td>{{ vehicleDetails.name }}</td>
          <td>{{ vehicleDetails.invoiceValue }}</td>
          <td>{{ vehicleDetails.idv }}</td>
          <td>{{ vehicleDetails.enginNumber }}</td>
          <td>{{ vehicleDetails.chassisNumber }}</td>
          <td>{{ vehicleDetails.registrationNumber }}</td>
          <td>{{ vehicleDetails.seatingCapacity }}</td>
          <td jhiTranslate="{{ 'policyManagementApp.Zone.' + vehicleDetails.zone }}">{{ vehicleDetails.zone }}</td>
          <td>{{ vehicleDetails.yearOfManufacturing }}</td>
          <td>{{ vehicleDetails.registrationDate }}</td>
          <td>{{ vehicleDetails.lastModified }}</td>
          <td>{{ vehicleDetails.lastModifiedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-details', vehicleDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-details', vehicleDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicleDetails && vehicleDetails.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
