<div>
  <h2 id="page-heading" data-cy="NomineeHeading">
    <span jhiTranslate="policyManagementApp.nominee.home.title">Nominees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="policyManagementApp.nominee.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nominee"
        [routerLink]="['/nominee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="policyManagementApp.nominee.home.createLabel"> Create a new Nominee </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nominees?.length === 0">
    <span jhiTranslate="policyManagementApp.nominee.home.notFound">No nominees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nominees && nominees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="policyManagementApp.nominee.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="relation">
            <span jhiTranslate="policyManagementApp.nominee.relation">Relation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomineePercentage">
            <span jhiTranslate="policyManagementApp.nominee.nomineePercentage">Nominee Percentage</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contactNo">
            <span jhiTranslate="policyManagementApp.nominee.contactNo">Contact No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="policyManagementApp.nominee.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="policyManagementApp.nominee.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="policy.id">
            <span jhiTranslate="policyManagementApp.nominee.policy">Policy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nominee of nominees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nominee', nominee.id, 'view']">{{ nominee.id }}</a>
          </td>
          <td>{{ nominee.name }}</td>
          <td>{{ nominee.relation }}</td>
          <td>{{ nominee.nomineePercentage }}</td>
          <td>{{ nominee.contactNo }}</td>
          <td>{{ nominee.lastModified }}</td>
          <td>{{ nominee.lastModifiedBy }}</td>
          <td>
            <div *ngIf="nominee.policy">
              <a [routerLink]="['/policy', nominee.policy?.id, 'view']">{{ nominee.policy?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nominee', nominee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nominee', nominee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nominee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nominees && nominees.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
