<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-security-user-heading"
        data-cy="SecurityUserCreateUpdateHeading"
        jhiTranslate="policyManagementApp.securityUser.home.createOrEditLabel"
      >
        Create or edit a Security User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.firstName" for="field_firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.designation" for="field_designation"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.login" for="field_login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
          <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.passwordHash" for="field_passwordHash"
            >Password Hash</label
          >
          <input
            type="text"
            class="form-control"
            name="passwordHash"
            id="field_passwordHash"
            data-cy="passwordHash"
            formControlName="passwordHash"
          />
          <div
            *ngIf="editForm.get('passwordHash')!.invalid && (editForm.get('passwordHash')!.dirty || editForm.get('passwordHash')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('passwordHash')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)"></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.imageUrl" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.activated" for="field_activated"
            >Activated</label
          >
          <input type="checkbox" class="form-check" name="activated" id="field_activated" data-cy="activated" formControlName="activated" />
          <div *ngIf="editForm.get('activated')!.invalid && (editForm.get('activated')!.dirty || editForm.get('activated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('activated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.langKey" for="field_langKey">Lang Key</label>
          <input type="text" class="form-control" name="langKey" id="field_langKey" data-cy="langKey" formControlName="langKey" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.activationKey" for="field_activationKey"
            >Activation Key</label
          >
          <input
            type="text"
            class="form-control"
            name="activationKey"
            id="field_activationKey"
            data-cy="activationKey"
            formControlName="activationKey"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.resetKey" for="field_resetKey">Reset Key</label>
          <input type="text" class="form-control" name="resetKey" id="field_resetKey" data-cy="resetKey" formControlName="resetKey" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.resetDate" for="field_resetDate"
            >Reset Date</label
          >
          <input type="text" class="form-control" name="resetDate" id="field_resetDate" data-cy="resetDate" formControlName="resetDate" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.mobileNo" for="field_mobileNo">Mobile No</label>
          <input type="text" class="form-control" name="mobileNo" id="field_mobileNo" data-cy="mobileNo" formControlName="mobileNo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.oneTimePassword" for="field_oneTimePassword"
            >One Time Password</label
          >
          <input
            type="text"
            class="form-control"
            name="oneTimePassword"
            id="field_oneTimePassword"
            data-cy="oneTimePassword"
            formControlName="oneTimePassword"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.otpExpiryTime" for="field_otpExpiryTime"
            >Otp Expiry Time</label
          >
          <input
            type="text"
            class="form-control"
            name="otpExpiryTime"
            id="field_otpExpiryTime"
            data-cy="otpExpiryTime"
            formControlName="otpExpiryTime"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModified"
            id="field_lastModified"
            data-cy="lastModified"
            formControlName="lastModified"
          />
          <div
            *ngIf="editForm.get('lastModified')!.invalid && (editForm.get('lastModified')!.dirty || editForm.get('lastModified')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModified')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="policyManagementApp.securityUser.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastModifiedBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="policyManagementApp.securityUser.securityPermission" for="field_securityPermissions"
            >Security Permission</label
          >
          <select
            class="form-control"
            id="field_securityPermissions"
            data-cy="securityPermission"
            multiple
            name="securityPermissions"
            formControlName="securityPermissions"
          >
            <option
              [ngValue]="getSelectedSecurityPermission(securityPermissionOption, editForm.get('securityPermissions')!.value)"
              *ngFor="let securityPermissionOption of securityPermissionsSharedCollection; trackBy: trackSecurityPermissionById"
            >
              {{ securityPermissionOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="policyManagementApp.securityUser.securityRole" for="field_securityRoles">Security Role</label>
          <select
            class="form-control"
            id="field_securityRoles"
            data-cy="securityRole"
            multiple
            name="securityRoles"
            formControlName="securityRoles"
          >
            <option
              [ngValue]="getSelectedSecurityRole(securityRoleOption, editForm.get('securityRoles')!.value)"
              *ngFor="let securityRoleOption of securityRolesSharedCollection; trackBy: trackSecurityRoleById"
            >
              {{ securityRoleOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
