<div>
  <h2 id="page-heading" data-cy="ParameterLookupHeading">
    <span jhiTranslate="policyManagementApp.parameterLookup.home.title">Parameter Lookups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="policyManagementApp.parameterLookup.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parameter-lookup"
        [routerLink]="['/parameter-lookup/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="policyManagementApp.parameterLookup.home.createLabel"> Create a new Parameter Lookup </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parameterLookups?.length === 0">
    <span jhiTranslate="policyManagementApp.parameterLookup.home.notFound">No parameterLookups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parameterLookups && parameterLookups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="policyManagementApp.parameterLookup.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="policyManagementApp.parameterLookup.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="policyManagementApp.parameterLookup.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="policyManagementApp.parameterLookup.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vehicleDetails.id">
            <span jhiTranslate="policyManagementApp.parameterLookup.vehicleDetails">Vehicle Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parameterLookup of parameterLookups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parameter-lookup', parameterLookup.id, 'view']">{{ parameterLookup.id }}</a>
          </td>
          <td>{{ parameterLookup.name }}</td>
          <td jhiTranslate="{{ 'policyManagementApp.ParameterType.' + parameterLookup.type }}">{{ parameterLookup.type }}</td>
          <td>{{ parameterLookup.lastModified }}</td>
          <td>{{ parameterLookup.lastModifiedBy }}</td>
          <td>
            <div *ngIf="parameterLookup.vehicleDetails">
              <a [routerLink]="['/vehicle-details', parameterLookup.vehicleDetails?.id, 'view']">{{
                parameterLookup.vehicleDetails?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parameter-lookup', parameterLookup.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parameter-lookup', parameterLookup.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parameterLookup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parameterLookups && parameterLookups.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
