<div>
  <h2 id="page-heading" data-cy="PolicyUsersHeading">
    <span jhiTranslate="policyManagementApp.policyUsers.home.title">Policy Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="policyManagementApp.policyUsers.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-policy-users"
        [routerLink]="['/policy-users/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="policyManagementApp.policyUsers.home.createLabel"> Create a new Policy Users </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="policyUsers?.length === 0">
    <span jhiTranslate="policyManagementApp.policyUsers.home.notFound">No policyUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="policyUsers && policyUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="groupCode">
            <span jhiTranslate="policyManagementApp.policyUsers.groupCode">Group Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="groupHeadName">
            <span jhiTranslate="policyManagementApp.policyUsers.groupHeadName">Group Head Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="policyManagementApp.policyUsers.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="policyManagementApp.policyUsers.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="birthDate">
            <span jhiTranslate="policyManagementApp.policyUsers.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="marriageDate">
            <span jhiTranslate="policyManagementApp.policyUsers.marriageDate">Marriage Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userTypeId">
            <span jhiTranslate="policyManagementApp.policyUsers.userTypeId">User Type Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="username">
            <span jhiTranslate="policyManagementApp.policyUsers.username">Username</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="policyManagementApp.policyUsers.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="policyManagementApp.policyUsers.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="imageUrl">
            <span jhiTranslate="policyManagementApp.policyUsers.imageUrl">Image Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="policyManagementApp.policyUsers.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activated">
            <span jhiTranslate="policyManagementApp.policyUsers.activated">Activated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="licenceExpiryDate">
            <span jhiTranslate="policyManagementApp.policyUsers.licenceExpiryDate">Licence Expiry Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobileNo">
            <span jhiTranslate="policyManagementApp.policyUsers.mobileNo">Mobile No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aadharCardNuber">
            <span jhiTranslate="policyManagementApp.policyUsers.aadharCardNuber">Aadhar Card Nuber</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pancardNumber">
            <span jhiTranslate="policyManagementApp.policyUsers.pancardNumber">Pancard Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="oneTimePassword">
            <span jhiTranslate="policyManagementApp.policyUsers.oneTimePassword">One Time Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="otpExpiryTime">
            <span jhiTranslate="policyManagementApp.policyUsers.otpExpiryTime">Otp Expiry Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="policyManagementApp.policyUsers.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="policyManagementApp.policyUsers.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="policyUsersType.id">
            <span jhiTranslate="policyManagementApp.policyUsers.policyUsersType">Policy Users Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policyUsers of policyUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/policy-users', policyUsers.id, 'view']">{{ policyUsers.id }}</a>
          </td>
          <td>{{ policyUsers.groupCode }}</td>
          <td>{{ policyUsers.groupHeadName }}</td>
          <td>{{ policyUsers.firstName }}</td>
          <td>{{ policyUsers.lastName }}</td>
          <td>{{ policyUsers.birthDate }}</td>
          <td>{{ policyUsers.marriageDate }}</td>
          <td>{{ policyUsers.userTypeId }}</td>
          <td>{{ policyUsers.username }}</td>
          <td>{{ policyUsers.password }}</td>
          <td>{{ policyUsers.email }}</td>
          <td>{{ policyUsers.imageUrl }}</td>
          <td jhiTranslate="{{ 'policyManagementApp.StatusInd.' + policyUsers.status }}">{{ policyUsers.status }}</td>
          <td>{{ policyUsers.activated }}</td>
          <td>{{ policyUsers.licenceExpiryDate }}</td>
          <td>{{ policyUsers.mobileNo }}</td>
          <td>{{ policyUsers.aadharCardNuber }}</td>
          <td>{{ policyUsers.pancardNumber }}</td>
          <td>{{ policyUsers.oneTimePassword }}</td>
          <td>{{ policyUsers.otpExpiryTime }}</td>
          <td>{{ policyUsers.lastModified }}</td>
          <td>{{ policyUsers.lastModifiedBy }}</td>
          <td>
            <div *ngIf="policyUsers.policyUsersType">
              <a [routerLink]="['/policy-users-type', policyUsers.policyUsersType?.id, 'view']">{{ policyUsers.policyUsersType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/policy-users', policyUsers.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/policy-users', policyUsers.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(policyUsers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="policyUsers && policyUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
