<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="securityRole">
      <h2 data-cy="securityRoleDetailsHeading"><span jhiTranslate="policyManagementApp.securityRole.detail.title">Security Role</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ securityRole.id }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.securityRole.name">Name</span></dt>
        <dd>
          <span>{{ securityRole.name }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.securityRole.description">Description</span></dt>
        <dd>
          <span>{{ securityRole.description }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.securityRole.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ securityRole.lastModified }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.securityRole.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ securityRole.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.securityRole.securityPermission">Security Permission</span></dt>
        <dd>
          <span *ngFor="let securityPermission of securityRole.securityPermissions; let last = last">
            <a [routerLink]="['/security-permission', securityPermission?.id, 'view']">{{ securityPermission.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/security-role', securityRole.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
