<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="agency">
      <h2 data-cy="agencyDetailsHeading"><span jhiTranslate="policyManagementApp.agency.detail.title">Agency</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ agency.id }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.name">Name</span></dt>
        <dd>
          <span>{{ agency.name }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.address">Address</span></dt>
        <dd>
          <span>{{ agency.address }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.branch">Branch</span></dt>
        <dd>
          <span>{{ agency.branch }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.brnachCode">Brnach Code</span></dt>
        <dd>
          <span>{{ agency.brnachCode }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.email">Email</span></dt>
        <dd>
          <span>{{ agency.email }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.companyTypeId">Company Type Id</span></dt>
        <dd>
          <span>{{ agency.companyTypeId }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.imageUrl">Image Url</span></dt>
        <dd>
          <span>{{ agency.imageUrl }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.contactNo">Contact No</span></dt>
        <dd>
          <span>{{ agency.contactNo }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ agency.lastModified }}</span>
        </dd>
        <dt><span jhiTranslate="policyManagementApp.agency.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ agency.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/agency', agency.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
